pandas==2.3.1
streamlit
altair
watchdog
jax==0.7.0
jaxlib==0.7.0
numpyro==0.19.0
numpy==2.3.2
scipy
matplotlib
scenario-generator @ git+https://github.com/celtd/scenario-generator.git
mechafil-jax @ git+https://github.com/celtd/mechafil-jax.git@jax_update
slack_sdk
